################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BinaryDependencyPropagator/bin
/BinaryDependencyPropagator/obj
/BinaryDependencyPropagator.Tests/bin
/BinaryDependencyPropagator.Tests/obj
/packages